[submodule ".registry"]
	path = .registry
	url = https://github.com/egenn/egenn.r-universe.dev
	branch = HEAD
[submodule "music"]
	path = music
	url = https://github.com/egenn/music
[submodule "rtemis"]
	path = rtemis
	url = https://github.com/egenn/rtemis
[submodule "rtemisbio"]
	path = rtemisbio
	url = https://github.com/egenn/rtemisbio
